@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* height: 100vh; */
  font-family: "Roboto", sans-serif;
  color: #3e3a3a;
  padding-bottom: 60px;
}

a {
  text-decoration: none;
  color: #3e3a3a;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
}

nav {
  width: 100%;
  height: 55px;
  /* background: linear-gradient(#00000009,#00000027); */
  background-color: #fff;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: space-around;

  position: fixed;
  bottom: 0;

  z-index: 10;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  color: #b2b2b2;
  height: 40px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-weight: bold;

  cursor: pointer;
}

/* Discover Section  */
#discover {
  padding-bottom: 30px;
}

#discover #homecontainer .categorycontainer {
  width: 100%;
}

#discover #homecontainer h2 {
  margin: 30px 0 15px 10px;
  font-size: 1.5rem;
}

#discover #homecontainer .categorybox {
  width: 100%;
  height: 50px;
  /* background-color: skyblue; */
  margin-bottom: 15px;

  display: flex;
  justify-content: space-evenly;
  animation: searchani 1s ease forwards;
}

#discover #homecontainer .categorybox div {
  width: 150px;
  height: 100%;
  /* background-color: #dedede; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: flex;
  justify-content: start;
  align-items: center;
}

#discover #homecontainer .categorybox div i {
  width: 35px;
  height: 35px;
  background-color: #b2b2b2;
  border-radius: 50%;
  color: gold;
  font-size: 0.9rem;
  margin: 0 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#discover #homecontainer .categorybox div span {
  font-size: 0.8rem;
}

#discover #homecontainer .newbox div {
  display: flex;
  justify-content: space-evenly;
}

#discover #homecontainer .newbox div .new {
  width: 100px;
  height: 150px;
  /* background-color: red; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  animation: slideLeft 1s ease forwards;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes slideLeft {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

#discover #homecontainer .newbox div .new img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

#discover #homecontainer .newbox div .new ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#discover #homecontainer .newbox div .new ul li {
  font-size: 0.6rem;
}

#discover #homecontainer .featured {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#discover #homecontainer .featured .featured1,
.featured2 {
  width: 40%;
  /* height: 800px; */
  /* background-color: red; */
}

#discover #homecontainer .featured .featureddiv {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #e4e4e4;
  padding: 10px 5px;
  margin-bottom: 20px;
}

#discover #homecontainer .featured div img {
  width: 100%;
}

#discover #homecontainer .featured div h3{
  font-size: 0.6rem;
}

#discover #homecontainer .featured .featuredcontact {
  display: flex;
  justify-content: space-around;
}

#discover #homecontainer .featured .featuredcontact a:nth-of-type(1) {
  color: #fff;
  font-size: 0.6rem;
  margin-top: 10px;
  padding: 5px 15px;
  background: rgb(239, 155, 0);
  border-radius: 6px;
}

#discover #homecontainer .featured .featuredcontact a:nth-of-type(2) {
  color: #fff;
  font-size: 0.6rem;
  margin-top: 10px;
  padding: 5px 15px;
  background: #651a8a;
  border-radius: 6px;
}

/* Room Section  */
#room {
  display: none;
  /* background-color: red; */
}

#room #roomsearch {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#room #roomsearch .searchbtn {
  /* background-color: red; */
  font-size: 0.8rem;
  border: 1px solid #3e3a3a;
  padding: 8px 12px;
  border-radius: 6px;

  position: relative;
}

#room #roomsearch .searchbtn span {
  margin-right: 6px;
}

#room #roomsearch .searchbtn .searchlist {
  /* display: none; */
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  top: 101%;
  left: 0;
}
.searchlist {
  display: none;
  z-index: 10;
}
.roomtypelist,
.roomdurationlist,
.roomlocationlist,
.foodtypelist,
.foodlocationlist {
  display: none;
}

#room #roomsearch .searchbtn .searchlist li {
  padding: 7px 0 7px 12px;
  border: 1px solid #3e3a3a35;
  border-top: none;
  /* border-radius: 5px; */
}

#room article {
  width: 100%;
  height: 250px;
  font-size: 0.8rem;
  /* background-color: green; */
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#room article .rooms {
  width: 90%;
  height: 100%;
  box-shadow: 0px 0px 5px 5px #00000009;
  /* background-color: red; */
}

#room article .rooms .roominfo {
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
}

#room article .rooms .roominfo div {
  width: 45%;
  height: 95%;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

#room article .rooms .roominfo div h2{
  font-size: 1.6rem;
  margin-bottom: 10px;
}

#room article .rooms .roomcontact {
  display: flex;
  justify-content: space-around;
}

#room article .rooms .roomcontact a:nth-of-type(1) {
  padding: 8px 12px;
  /* border: 1px solid #3e3a3a; */
  background-color: rgb(239, 155, 0);
  border-radius: 6px;
  color: #e4e4e4;
}

#room article .rooms .roomcontact a:nth-of-type(2) {
  padding: 8px 12px;
  /* border: 1px solid #3e3a3a; */
  background-color: #651a8a;
  border-radius: 6px;
  color: #e4e4e4;
}

.rooms .roominfo div {
  position: relative;
  /* z-index: -2; */
  /* background-color: red; */
}

.rooms .roominfo div img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.fa-square-caret-left {
  position: absolute;
  left: 5px;
}

.fa-square-caret-right {
  position: absolute;
  right: 5px;
}

.img2,
.img3,
.img4 {
  display: none;
}

/* icons */
.fa-square-whatsapp {
  /* color: #25d366; */
  color: #fff;
}
.fa-location-dot {
  /* color: #960a0a; */
  color: #fff;
}
.fa-phone-volume {
  /* color: #1d588d; */
  color: #fff;
}

#food {
  display: none;
}

#food #foodsearch {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

#food #foodsearch .searchbtn {
  font-size: 0.8rem;
  border: 1px solid #3e3a3a;
  padding: 8px 10px;
  border-radius: 6px;

  position: relative;
}

#food #foodsearch .searchbtn span {
  margin-right: 6px;
}

#food #foodsearch .searchbtn .searchlist {
  display: none;
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0;
}

#food #foodsearch .searchbtn .searchlist li {
  padding: 7px 4px 7px 6px;
  border: 1px solid #3e3a3a35;
  border-top: none;
  /* border-radius: 5px; */
}

.searchbtnani {
  animation: searchani 0.1s linear 1;
}
.opacityani {
  animation: searchani 0.2s ease-in 1;
}

@keyframes searchani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#food article {
  width: 100%;
  font-size: 0.8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#food article .foods {
  width: 90%;
  height: 400px;
  box-shadow: 0px 0px 5px 5px #00000009;
  margin-top: 20px;
  /* background-color: red; */
}

#food article .foods .foodinfo div {
  width: 100%;
  height: 250px;
  /* background-color: blue; */

  position: relative;
}

#food article .foods .foodinfo div i {
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
}

#prevfood {
  left: 10px;
}

#nextfood {
  right: 10px;
}

#food article .foods .foodinfo div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fimg2,
.fimg3,
.fimg4 {
  display: none;
}

#food article .foods .foodinfo h2 {
  margin: 5px 0 15px 0;
}

#food article .foods .foodinfo h3 {
  margin-bottom: 6px;
}

#food article .foods .foodcontact {
  margin-top: 10px;

  display: flex;
  justify-content: space-around;
}

#food article .foods .foodcontact a:nth-of-type(1) {
  padding: 8px 12px;
  /* border: 1px solid #3e3a3a; */
  background-color: rgb(239, 155, 0);
  border-radius: 6px;
  color: #e4e4e4;
}

#food article .foods .foodcontact a:nth-of-type(2) {
  padding: 8px 12px;
  /* border: 1px solid #3e3a3a; */
  background-color: #651a8a;
  border-radius: 6px;
  color: #e4e4e4;
}

#about {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-bottom: 30px;
}

#about #aboutimg {
  width: 90%;
}

#about article {
  width: 90%;
}

#about article h4 {
  padding: 3px 0;
  margin: 10px 0;
  text-align: center;
  background-color: #b2b2b2;
  box-shadow: 4px 4px 4px #3e3a3a25;
}

#about article p {
  font-size: 0.8rem;
  text-align: justify;
  line-height: 1.1rem;
}

#about article ul {
  padding-left: 20px;
}

#about article ul li {
  font-size: 0.8rem;
  margin-bottom: 5px;
  text-align: justify;
}

#about article div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#about article div a {
  font-size: 0.8rem;
}


@media (min-width: 786px){
  body{
    display: none;
  }
}