@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* height: 100vh; */
    font-family: "Roboto", sans-serif;
    color: #3E3A3A;
}

a{
    text-decoration: none;
    color: #3E3A3A;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1{
    font-size: 1.2rem;
    text-align: center;
}

nav{
    width: 100%;
    height: 55px;
    background: linear-gradient(#00000009,#00000027);
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: space-around;

    position: fixed;
    bottom: 0;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    color: #B2B2B2;
    height: 40px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-weight: bold;

    cursor: pointer;  
}

/* Discover Section  */
#discover #homecontainer{
    width: 100%;
    height: 140px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#discover #homecontainer div{
    width: 120px;
    height: 120px;
    background-color: skyblue;
    border-radius: 10px;
}

/* Room Section  */
#room{
    display: none;
}

#room #roomsearch{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#room #roomsearch div{
    /* background-color: red; */
    font-size: 0.6rem;
    border: 1px solid #3E3A3A;
    padding: 5px 10px;
    border-radius: 6px;
}

#room #roomsearch div span{
    margin-right: 6px;
}

#room article{
    width: 100%;
    height: 250px;
    font-size: 0.8rem;
    /* background-color: green; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#room article .rooms{
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 5px 5px #00000009;
    /* background-color: red; */
}

#room article .rooms .roominfo{
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

#room article .rooms .roominfo div{
   width: 45%;
   height: 95%;
   /* background-color: red; */

   display: flex;
   justify-content: center;
   flex-direction: column;
}

#room article .rooms .roomcontact{
    display: flex;
    justify-content: space-around;
}

#room article .rooms .roomcontact a{
    padding: 6px 15px;
    border: 1px solid #3E3A3A;
    border-radius: 10px;
}

#food{
    display: none;
}

#food #foodsearch{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#food #foodsearch div{
    font-size: 0.6rem;
    border: 1px solid #3E3A3A;
    padding: 5px 10px;
    border-radius: 6px;
}

#food article{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#food article .foods{
    width: 90%;
    height: 470px;
    box-shadow: 0px 0px 5px 5px #00000009;
    margin-top: 20px;
}

#food article .foods .foodinfo h2{
    margin: 5px 0 15px 0;
}

#food article .foods .foodinfo h3{
    margin-bottom: 6px;
}

#food article .foods .foodcontact{
    margin-top: 10px;

    display: flex;
    justify-content: space-around;
}

#food article .foods .foodcontact a{
    padding: 6px 15px;
    border: 1px solid #3E3A3A;
    border-radius: 10px;
}

#about{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about #aboutimg{
    width: 90%;
}

#about article{
    width: 90%;
}

#about article h4{
    padding: 3px 0;
    margin: 10px 0;
    text-align: center;
    background-color: #B2B2B2;
    box-shadow: 4px 4px 4px #3E3A3A25;
}

#about article p{
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.1rem;
}

#about article ul{
    padding-left: 20px;
}

#about article ul li{
    font-size: 0.8rem;
    margin-bottom: 5px;
}

#about article div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}   

#about article div a{
    font-size: 0.8rem;
}